<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.ssm.mapper.EmpMapper">
    <!--开启二级缓存-->
    <!--配置缓存框架-->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"
     eviction="FIFO"
    flushInterval="60000"
    size="512"
    readOnly="true"/>
    <sql id="baseSql" >
        select * from emp
    </sql>
    <select id="selectEmpById" resultType="org.lanqiao.ssm.pojo.Emp" parameterType="int">
       select * from emp where empno=#{empno}
    </select>
    <select id="selectAllToList" resultType="org.lanqiao.ssm.pojo.Emp">
       select * from emp
    </select>


    <delete id="deleteEmpById" parameterType="int">
        delete from emp where empno=#{empno}
    </delete>
</mapper>